{{ define "main" }}
    <h1>{{ .Site.Title }}</h1>
    <p>{{ .Site.Params.description }}</p>


<h3>*This page is no longer maintained as of 2026, and I have moved to <a href="https://xianzhiwang1.github.io/">https://xianzhiwang1.github.io/</a>*</h3>
    
    <h2>Latest Posts</h2>
    <ul>
        {{ range first 5 .Pages.ByDate.Reverse }}
            <li>
                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                <p>{{ .Summary }}</p>
            </li>
        {{ end }}
    </ul>
{{ end }}
